@using RecipeBook.Models;
@model IEnumerable<RecipeBook.Models.Tag>
<h1>Tags</h1>

<h1>Tags for @User.Identity.Name</h1>

@if (@Model.Any())
{ 
  <ul>
    @foreach (Tag tag in Model)
    {
      <li>@Html.ActionLink($"{tag.Description}", "Details", new { id = tag.TagId })</li>
    }
  </ul>
}

else
{
  <h3>No tags have been added yet!</h3>
}
<h4>@Html.ActionLink("Add a new tag", "Create")</h4>
<h4>@Html.ActionLink("Home", "Index", "Home")</h4>